<!-- templates/index.html -->
<html>
<head>
    <title>File List</title>
    <script>
        // JSON 데이터를 비동기로 서버에서 받아오는 함수
        async function fetchDataFromServer() {
            try {
                return JSON.parse('{{.}}');
            } catch (error) {
                console.error('Error fetching data:', error);
                return null;
            }
        }

        // JSON 형식의 파일 리스트를 받아 HTML을 갱신하는 함수
        function updateFileList(filesJSON) {
            var fileList = document.getElementById("file-list");
            fileList.innerHTML = ""; // 기존 리스트 초기화

            filesJSON.forEach(function(file) {
                var listItem = document.createElement("li");

                var link = document.createElement("a");
                link.textContent = file.name;
                link.href = "/download/" + encodeURIComponent(file.name);

                var updateDate = document.createElement("span")
                updateDate.textContent = "(" + file.uploaddate + ")"

                listItem.appendChild(link);
                listItem.appendChild(updateDate);

                fileList.appendChild(listItem);
            });
        }

        // 페이지 로드 시 실행되는 함수
        async function onPageLoad() {
            // 서버에서 JSON 데이터 받아오기
            const filesJSON = await fetchDataFromServer();

            // JSON 데이터를 이용하여 HTML 갱신
            if (filesJSON !== null) {
                updateFileList(filesJSON);
            }
        }

        // 페이지 로드 시 파일 리스트 업데이트
        window.onload = onPageLoad;
    </script>
</head>
<body>
    <h1>File List</h1>
    <ul id="file-list">

    </ul>

    <form action="/upload/" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <br />
        <input type="submit" name="uploadType" value="single" />
        <input type="submit" name="uploadType" value="entire" />
    </form>

    <script>
        const port = window.location.port; // 현재 페이지의 포트를 가져옵니다.
        const socket = new WebSocket(`ws://localhost:${port}/ws`);

        socket.onmessage = function(event){
            var receivedData = JSON.parse(event.data);
            console.log("받은 데이터", receivedData)

            updateFileList(receivedData)
        }
    </script>
</body>
</html>
